
 <div class="pimg1">
    <div class="ptext">
      <span class="border">
        Andrew J. Paulino
      </span>
    </div>
  </div>

  <section class="section section-dark">
      <div class="sing">
    <h2>Who Am I?</h2>
    <p>
      I am a aspiring Full Stack Developer, I hope that one day I can say that I am a software developer and work in this field professionally.
      Currently I am still learning and a student at <a href="http://origincodeacademy.com/" >Origin Code Academy </a> In San Deigo. During the fall semester
      I plan on going to college and pursuing a Computer Science Degree. 
    </p>
     <i class="fa fa-user-circle" aria-hidden="true"></i>
    </div>
  </section>

  <div id="sec1" class="pimg2">
    <div class="ptext">
      <span class="border trans">
        Education
      </span>
    </div>
  </div>
 

  <section class="section section-dark">
    <div class="sing">
    <h2>Education</h2>
    <p>
      As of now I don't have any formal education. As time goes I put my priorities in getting a degree in computer Science, but as of now I
      am currently apart of <a href="http://origincodeacademy.com/" >Origin Code Academy </a>. I plan on graduating Origin Code Academy within this year.
    </p>
    </div>
  </section>

  <div id="language" class="pimg3">
    <div class="ptext">
      <span class="border trans">
        Languages
      </span>
    </div>
  </div>



  <section class=" section section-dark">
    <div class="sing">
    <h2>Languages</h2>
    <p>
      These Are some of the languages I am learning!
      <br>
    <ul class="right list-group container">
      <li class="list-group-item list-group-item-action list-group-item-info">JavaScript</li>
      <li class="list-group-item list-group-item-action list-group-item-info">Node.Js</li>
      <li class="list-group-item list-group-item-action list-group-item-info">ReactJs</li>
      <li class="list-group-item list-group-item-action list-group-item-info">Git</li>
      <li class="list-group-item list-group-item-action list-group-item-info">MongoDB / FireBase</li>
      <li class="list-group-item list-group-item-action list-group-item-warning">C++?</li>
      <li class="list-group-item list-group-item-action list-group-item-warning">PHP?</li>
    </ul>
    </p>
    </div>
  </section>
    

    <div id="hobbies" class="pimg4">
        <div class="ptext">
        <span class="border trans">
            Hobbies and Skills
        </span>
        </div>
    </div>
    
    <section class="section section-dark">
    <div class="row">
        <div id="left" class="col-sm-6">
        <h2>Hobbies</h2>
        <hr>
        <p>
              <ul class=" list-group container">
                <li class="list-group-item list-group-item-action list-group-item-info">Playing Basketball!</li>
                <li class="list-group-item list-group-item-action list-group-item-info">Playing Drums</li>
                <li class="list-group-item list-group-item-action list-group-item-info">Hanging Out With Friends</li>
           
              </ul>
        </p>
        </div>
        <div id="right" class="col-sm-6">
        <h2>Skills</h2>
        <hr>
        <p>
           <ul class=" list-group container">
                <li class="list-group-item list-group-item-action list-group-item-info">Being Technically inclined.</li>
                <li class="list-group-item list-group-item-action list-group-item-info">Ability to Build Computers and understand how each part works!</li>
                <li class="list-group-item list-group-item-action list-group-item-info">Persistance.</li>
           
              </ul>
        </p>
        </div>
    </div>
    </section>   

  <div id="socialMedia" class="pimg7">
        <div class="ptext">
        <span class="border trans">
            Social Media
        </span>
        </div>
    </div>
    
    <section id="socialMedia" class="section section-dark">
    <div class="row">

        <div id="left" class="col-lg-6">
        <h2> <i class="fa fa-github-square" aria-hidden="true"></i> My Projects <i class="fa fa-github-square" aria-hidden="true"></i> </h2>
        <br>
        <a href="https://github.com/andrewpaulino"><button type="button" class="btn btn-primary btn-lg"><i class="fa fa-external-link" aria-hidden="true"></i> Check Out My GitHub!</button></a>
        </div>

        <div id="right" class="col-lg-6">
        <h2>Other Social Media</h2>
            
            <a href="https://github.com/andrewpaulino"><button type="button" class="btn btn-primary btn-sm"><i class="fa fa-facebook-square" aria-hidden="true"></i></i> Facebook</button></a>
           
           
                 <a href="https://github.com/andrewpaulino"><button type="button" class="btn btn-primary btn-sm"><i class="fa fa-twitter-square" aria-hidden="true"></i></i></i> Twitter </button></a>
           
            
                <a href="https://github.com/andrewpaulino"><button type="button" class="btn btn-danger btn-sm"><i class="fa fa-youtube-square" aria-hidden="true"></i> Youtube </button></a>
           
        </div>
    </div>
    </section>  

<div id="contactMe" class="pimg5">
    <div class="ptext">
      <span class="border trans">
        Contact Me
      </span>
    </div>
  </div>

  <section class="section section-dark">
      <div id="root"></div>
	  <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
      <script src="bundle.js" ></script>
  </section>



  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        AJP LLC
      </span>
    </div>
  </div>

