<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AJP</title>

    {{!-- Styles And BootStrap --}}
    <link rel="stylesheet" href="styles.css">
    <script type="text/jsx" src="index.jsx"></script>
    <script src="https://use.fontawesome.com/c5a7e559d9.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Archivo|Oswald|Slabo+27px" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

    


</head>
    <nav class="navbar navbar-light fixed-top bg-light navbar-toggleable-md clearfix">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleContainer" aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><i class="fa fa-home" aria-hidden="true"></i> AJP</a>

        <div class="collapse navbar-collapse navbar-right" id="navbarsExampleContainer">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/#sec1"> <i class="fa fa-university" aria-hidden="true"></i> Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#skills"> <i class="fa fa-bullseye" aria-hidden="true"></i> Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#hobbies"> <i class="fa fa-camera" aria-hidden="true"></i> Hobbies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#socialMedia"> <i class="fa fa-users" aria-hidden="true"></i> Social Media</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="#contactMe"> <i class="fa fa-envelope" aria-hidden="true"></i> Contact Me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<body>
    {{{body}}}
</body>
<footer id="ok">
        <p id="lmao">© 2017<a style="color:#0a93a6; text-decoration:none;" href="/terms"> Terms And Service</a> | <a style="color:#0a93a6; text-decoration:none;" href="/privacy"> Privacy Policy</a> All rights reserved to AJP LLC. </p>
</footer>
 <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        window.sr = ScrollReveal();
        sr.reveal('.navbar-light', {
          duration: 2000,
          origin:'bottom'
        });
        sr.reveal('.ptext', {
          duration: 2000,
          origin:'right',
          distance:'300px'
        });
        sr.reveal('.sing', {
          duration: 2000,
          origin:'left',
          distance:'300px'
        });
        sr.reveal('#left', {
          duration: 2000,
          delay: 1000,
          origin:'left'
        });
        sr.reveal('#right', {
          duration: 2000,
          delay: 1000,
          origin:'right'
        });
        sr.reveal('.right', {
          duration: 2000,
          origin:'left',
          distance:'300px',
          viewFactor: 0.2
        });
        sr.reveal('.bottom', {
          duration: 2000,
          origin:'bottom',
          distance:'300px',
          viewFactor: 0.2
        });

    </script>

    <script>
    $(function() {
      // Smooth Scrolling
      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
    </script>
    <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    {{!-- Add your firebase Config here --}}
  };
  firebase.initializeApp(config);
</script>
</html>
